:host{height: 100%;display: block;display: flex;flex-direction: column;position: relative;border-right: 2px solid rgba(0,0,0,0.1);}
.flip-sidebar-btn{position: absolute;top:50%;right: -45px;transform: translateY(-50%);width: 45px;height: 45px;background: var(--bgsky-color);border:none;z-index: 1;opacity: 0.1;display: inline-flex;justify-content: center;align-items: center;cursor: pointer;}
.flip-sidebar-btn:hover{opacity: 1;}
.flip-sidebar-btn img{rotate: -90deg;width: 25px;}

